@font-face {
    font-family: "Google Sans";
    src: url("/assets/fonts/GoogleSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border: 0;
    outline: 0;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    background-color: #242323;
    border-width: 0;
    outline: 0;
    border-radius: 0.25rem;
    color: #cfcfcf;
    font-size: 1em;
}

.btn i {
    margin-right: 0.5rem;
}

.btn:hover {
    outline: 0;
    background-color: #424242;
}

.btn.btn-icon i {
    margin: 0;
}

.btn.btn-danger:hover {
    background-color: #5c3636 !important;
    color: #fc2d2d !important;
}

.spacer {
    flex: 1;
}

.divider {
    height: 1px;
    border-radius: 1rem;
    background-color: #424242;
    margin: 0.25rem 0;
}

/* --- */
body {
    min-height: 100dvh;
    height: 100dvh;
    background-color: #242323;
    color: #cfcfcf;
    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* side bar */
.side-bar {
    background-color: #2e2d2d;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
    gap: 0.5rem;
}

.side-bar--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.side-bar h1 {
    font-size: 1.5em;
    padding-left: 0.5rem;
}

.side-bar ul {
    list-style: none;
}

.side-bar--lists-container {
    flex: 1;
    overflow: auto;
}

.side-bar li {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.side-bar li:hover {
    background-color: #333232;
}

.side-bar li i {
    margin-right: 0.25rem;
}

/* content */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
}

.content--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sidebar-hamburger-btn,
#side-bar--close-btn {
    display: none;
}

.content--header h2 {
    font-size: 1.5em;
    line-height: 1.5rem;
}

.content ul {
    list-style: none;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2rem;
}

.content ul::-webkit-scrollbar {
    width: 0;
}

.content ul li {
    padding: 0 1rem 0 1.5rem;
    min-height: 3.25rem;
    background-color: #333232;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content ul li button {
    color: inherit;
    background-color: transparent;
    border: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}

.content ul li > div {
    display: flex;
    flex-direction: column;
}

.content ul li span.todo-info {
    font-size: 0.8rem;
}

.content ul li button i {
    font-size: 1.2em;
}

.content input {
    padding: 0.5rem 0.75rem;
    background-color: #2e2d2d;
    border-width: 0;
    outline: 0;
    border-radius: 0.25rem;
    color: #cfcfcf;
    font-size: 1em;
}

.content input:hover,
.content input:focus {
    outline: 0;
    background-color: #424242;
}

/* todo detail */
.todo-detail {
    width: 0;
    padding: 0;

    background-color: #2e2d2d;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    transition: all 0.2s ease;
    overflow-x: hidden;
}

.todo-detail.open {
    width: 20rem;
    padding: 0.25rem 0.75rem;
}

.todo-detail--close-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
}

.todo-detail--section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #242323;
    border-radius: 0.25rem;
}

.todo-detail--section-main > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
}

#todo-detail--name {
    min-width: 0;
    background: transparent;
    font-size: 1.2em;
    font-weight: bold;
    flex: 1;
    color: inherit;
}

.todo-detail .btn {
    justify-content: start;
    background-color: transparent;
}

.todo-detail .btn:hover {
    background-color: #424242;
}

.todo-detail textarea {
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border-width: 0;
    outline: 0;
    border-radius: 0.25rem;
    color: #cfcfcf;
    font-size: 1em;
    resize: vertical;
}

.todo-detail textarea:hover,
.todo-detail textarea:focus {
    outline: 0;
}

.todo-detail--footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: #333232;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}

/* contetxt menu */
.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: #242323;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    display: none;
}

.context-menu.open {
    display: block;
}

.context-menu li {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.context-menu li i {
    margin-right: 0.5rem;
}

.context-menu li:hover {
    background-color: #2e2d2d;
}

.context-menu .context-menu--item-danger:hover {
    background-color: #5c3636;
    color: #fc2d2d;
}

/* --- */
@media (max-width: 768px) {
    .side-bar {
        overflow: hidden;
        position: fixed;
        left: 0;
        width: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: all 0.1s ease-in-out;
    }

    .side-bar.open {
        width: 100%;
        padding: 0.5rem;
    }

    #sidebar-hamburger-btn,
    #side-bar--close-btn {
        display: block;
    }

    .todo-detail {
        position: fixed;
        right: 0;
        width: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: all 0.1s ease-in-out;
    }

    .todo-detail.open {
        width: 100%;
        padding: 0.25rem 0.75rem;
    }
}
