@font-face {
    font-family: "Google Sans";
    src: url("/assets/fonts/GoogleSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    background-color: #242323;
    border-width: 0;
    outline: 0;
    border-radius: 0.25rem;
    color: #cfcfcf;
    font-size: 1em;
}

.btn i {
    margin-right: 0.5rem;
}

.btn:hover {
    outline: 0;
    background-color: #424242;
}

.btn.btn-danger i {
    margin: 0;
}

.btn.btn-danger:hover {
    background-color: #5c3636;
    color: #fc2d2d;
}

/* --- */
body {
    min-height: 100dvh;
    height: 100dvh;
    background-color: #242323;
    color: #cfcfcf;
    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* side bar */
.side-bar {
    background-color: #2e2d2d;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
    gap: 0.5rem;
}

.side-bar h1 {
    font-size: 1.5em;
    padding-left: 0.5rem;
}

.side-bar ul {
    list-style: none;
    flex: 1;
    overflow: auto;
}

.side-bar li {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.side-bar li:hover {
    background-color: #333232;
}

/* content */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
}

.content--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content--header h2 {
    font-size: 1.5em;
    line-height: 1.5rem;
}

.content ul {
    list-style: none;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2rem;
}

.content ul::-webkit-scrollbar {
    width: 0;
}

.content ul li {
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: #333232;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content ul li button {
    color: inherit;
    background-color: transparent;
    border: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}

.content ul li button i {
    font-size: 1.2em;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content input {
    padding: 0.5rem 0.75rem;
    background-color: #2e2d2d;
    border-width: 0;
    outline: 0;
    border-radius: 0.25rem;
    color: #cfcfcf;
    font-size: 1em;
}

.content input:hover,
.content input:focus {
    outline: 0;
    background-color: #424242;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: #333232;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}

/* contetxt menu */
.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: #242323;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    display: none;
}

.context-menu.open {
    display: block;
}

.context-menu li {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #2e2d2d;
}
