@font-face {
    font-family: "Google Sans";
    src: url("./assets/GoogleSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- */
body {
    min-height: 100dvh;
    height: 100dvh;
    background: #242323;
    color: #cfcfcf;
    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* side bar */
.side-bar {
    background-color: #2e2d2d;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0.25rem;
}

.side-bar h1 {
    font-size: 1.5em;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
}

.side-bar ul {
    list-style: none;
    flex: 1;
    overflow: auto;
    padding-bottom: 0.5rem;
}

.side-bar li {
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.side-bar li:hover {
    background-color: #333232;
}

/* content */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
}

.content h2 {
    font-size: 1.5em;
    line-height: 1.5rem;
}

.content ul {
    list-style: none;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2rem;
}

.content ul::-webkit-scrollbar {
    width: 0;
}

.content ul li {
    padding: 1rem 2rem;
    background-color: #333232;
    border-radius: 0.5rem;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    background-color: #2e2d2d;
    border-width: 0;
    outline: 0;
    border-radius: 0.5rem;
    color: #cfcfcf;
    font-size: 1em;
}

.content form input:hover,
.content form input:focus {
    outline: 0;
    background-color: #424242;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: #333232;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}
